@use '@carbon/type';
@use '../../styles/variables' as vars;

.client-search-grid {
  row-gap: 2rem;
}

.client-search__title {
  @include type.type-style('heading-05');
  margin: 0;
}

.client-search__subtitle {
  margin: 0.5rem 0 0;
  color: var(--#{vars.$bcgov-prefix}-text-secondary);
}

.client-search__filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 1rem;
  align-items: end;
}

.client-search__actions {
  display: flex;
  gap: 0.5rem;
}
